.galleryHouses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

}

.box-card{
    display:flex;
    flex-direction:column ;
    
    
}
.gallery--cardHouses{
    display:flex;
    flex-direction:column ;
    justify-items: center;
    width: 200px;   
    margin:20px 5px 5px 55px; ;
   /* padding: 50px 75px 55px 55px;*/
}

.cardHouses-img{
  display: flex;
      width: 200px;
      height: 200px;
      
 }
   
.textHouses{
 display: flex;
 text-align: center;
 width: 200px;
 height: 45px;
 font-size: 16px;
}

.tooltip {
  text-decoration:none;
  position:relative;
  justify-content: center;
  }
  .tooltip span {
  display:none;
  }
  .tooltip span img {
  float:center;
  }
  .tooltip:hover span {
      width: 100%;
      display:block;
      justify-content: center;
      position:absolute;
      bottom: 0px;
      overflow:hidden;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: rgba(0, 0, 0, 0.453);
    }
.navbar--characters{
  z-index: 2;
}